.recipe-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.ingredients {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 78px;
}

.action {
    width: 100%;
    padding: 0 16px;
    position: fixed;
    top: calc(100% - 65px);
}

.download {
    display: inline-flex;
    width: 100%;
    height: 44px;
    background: linear-gradient(90.79deg, #E98FAE 11.83%, #F8588A 97.17%);
    backdrop-filter: blur(6px);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Poppins';
}

