.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(165.93deg, #503977 0.47%, #000000 100%);
}


.illus {
    margin-top: 16px;
    width: 85%;
    height: auto;
}