.book-ticket-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(165.93deg, #503977 0.47%, #000000 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.book-ticket-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.logo {
    margin-top: 16px;
    width: 78px;
    height: 26px;
}


.illus {
    width: 85%;
    height: auto;

}